@model IEnumerable<MyBookings.Models.Property>
@{
    ViewBag.Title = "My Properties";
}

<h2>My Properties</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category Type</th>
            <th scope="col">Name</th>
            <th scope="col">Photo</th>
            <th scope="col">Owner</th>
            <th scope="col">Bedrooms</th>
            <th scope="col">Bathrooms</th>
            <th scope="col">Sleeps (max Persons)</th>
            <th scope="col">Notes</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach (var item in Model)
        {
            i++;

        <tr>
            <td>
                <a href="@Url.Action("DeleteProperty", "Property", new { id = item.Id })" class="btn myclass_editDeleteButtons">Delete</a>
            </td>
            <th scope="row">@i</th>
            <td>@item.CategoryType</td>
            <td>@item.Name</td>
            @if (item.Image != null)
            {
                <td><img src="~/Data/properties/@item.Image" class="myclass_propertyimage"></td>
            }
            else
            {
                <td><img src="~/Data/properties/NoPropertyImage.png" class="myclass_propertyimage"></td>
            }
            <td>@item.Owner</td>
            <td>@item.Bedrooms</td>
            <td>@item.Bathrooms</td>
            <td>@item.Sleeps</td>
            <td>@item.Notes</td>

        </tr>
        }

    </tbody>
</table>

