@model MyBookings.ViewModels.FilteredBookingViewModel
@{
    ViewBag.Title = "Home Page";
}



    <div class="calendar">
        @using (Html.BeginForm("PropertiesSelection", "FilteredBookings", FormMethod.Get, new { @id = "search-form" }))
        {
            <div class="form-group myclass_attributesbutton">
                <select name="Attributes" multiple="multiple" placeholder="Choose Attributes">


                    @foreach (var item in Model.GetEnumValues())
                    {
                        <option value="@true">@item</option>
                    }
                </select>
                <input type="submit" value="Show me" class="btn btn-dark button_myclass" />
            </div>


        }


    </div>


<div class="filters" id="filters">

    @using (Html.BeginForm("PropertiesSelection", "FilteredBookings", FormMethod.Get, new { @id = "search-form" }))
    {
            <div class="form-group">
                <select name="Properties" multiple="multiple" placeholder="Choose property">

                    @{int j = 1;}
                    @foreach (var item in Model.PropertiesOfTheUser)
                    {
                        j++;
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                <input type="submit" value="Show me" class="btn btn-dark button_myclass" />
            </div>
      }



    
      
</div>
    <table class="table myclass">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="myclass_actiontab">Action</th>
                <th scope="col">#</th>
                @if (Model.shownattributes_user.Show_Id)
                {
                    <th scope="col">Id</th>
                }
                @if (Model.shownattributes_user.Property)
                {
                    <th scope="col">Property</th>
                }
                @if (Model.shownattributes_user.ClientName)
                {
                    <th scope="col">Client Name</th>
                }
                    <th scope="col">Check-In</th>
                    <th scope="col">Check-Out</th>
                    <th scope="col">Number of Guests</th>
                    <th scope="col">WebSite/Operator</th>
                    <th scope="col">Country</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Arrival Details</th>
                    <th scope="col">Other Notes</th>
                </tr>
        </thead>



        <tbody>
            @{int i = 1;}
            @foreach (var item in Model.FilteredBookings)
            {

            <tr>
                <td>
                    <a href="@Url.Action("EditBooking", "Booking", new { id = item.Id })" class="btn myclass_editDeleteButtons">Edit</a>
                    <a href="@Url.Action("DeleteBooking", "Booking", new { id = item.Id })" class="btn myclass_editDeleteButtons">Delete</a>
                </td>
                <th scope="row">@i</th>
                @{i++;}
                @if (Model.shownattributes_user.Show_Id)
                { 
                    <td>@item.Id</td>
                }
                @if (Model.shownattributes_user.Property)
                {
                    <td>@item.PropertyName</td>
                }

                    <td>@item.ClientName</td>
                    <td>@item.CheckIn.ToShortDateString()</td>
                    <td>@item.CheckOut.ToShortDateString()</td>
                    <td>@item.Guests</td>
                    <td>@item.WebSite</td>
                    <td>@item.Country</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>@item.ArrivalDetails</td>
                    <td>@item.Notes</td>
                </tr>

            }
        </tbody>
    </table>


@section scripts
{
        <script>

        
            var item = document.getElementById('container');
            item.className = 'myclass_container';
            console.log('hi');

            $(function ()
            {
                console.log('hi2')
                $('select').multipleSelect()

            })
            console.log('hi3')


//            $(function () {
//    $('select').selectpicker();
//});




        </script>


    }